<div class='container' style='width: 750px; padding-top: 10px;'>

			<div class='row'>
				<div class='col-md-6' style='padding-left: 40px;'><h6><b>Создание презентации в заданном формате</b></h6></div>
			</div>

</div>