<div class='container' style='width: 750px; padding-top: 10px;'>
	<div class='row'>
		<div class='col-md-4' style='padding-left: 40px;'><h6><b>Перевод дипломной работы</b></h6></div>
	</div>

	<div class='row' style='padding-left: 30px;'>
		<div class='col-md-4'><h6><b>Русский язык - Английский язык</b></h6></div>
	</div>

	
		<div class='row' style='padding-left: 40px;'>
			<div class="col-md-3"><h6>Количество страниц</h6></div>
  			<div class="col-md-2"><h6>Цена</h6></div>
  			<div class="col-md-2"><h6>Сроки</h6></div>
  			<div class="col-md-2"><h6>Ускорение</h6></div>
		</div>

		<div class='row' style='padding-left: 40px;'>
			<div class="col-md-3"><h6>50 страниц</h6></div>
  			<div class="col-md-2"><h6>35 000 тенге</h6></div>
  			<div class="col-md-2"><h6>4-5 дней</h6></div>
  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
		</div>

		<div class='row' style='padding-left: 40px;'>
			<div class="col-md-3"><h6>70 страниц</h6></div>
  			<div class="col-md-2"><h6>49 000 тенге</h6></div>
  			<div class="col-md-2"><h6>4-5 дней</h6></div>
  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
		</div>

		<div class='row' style='padding-left: 40px;'>
			<div class="col-md-3"><h6>90 страниц</h6></div>
  			<div class="col-md-2"><h6>63 000 тенге</h6></div>
  			<div class="col-md-2"><h6>4-5 дней</h6></div>
  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
		</div>

		<div class='row' style='padding-top: 10px;padding-left: 30px;'>
			<div class='col-md-4'><h6><b>Английский язык - Русский язык</b></h6></div>
		</div>

	
		<div class='row' style='padding-left: 40px;'>
			<div class="col-md-3"><h6>Количество страниц</h6></div>
  			<div class="col-md-2"><h6>Цена</h6></div>
  			<div class="col-md-2"><h6>Сроки</h6></div>
  			<div class="col-md-2"><h6>Ускорение</h6></div>
		</div>

		<div class='row' style='padding-left: 40px;'>
			<div class="col-md-3"><h6>50 страниц</h6></div>
  			<div class="col-md-2"><h6>35 000 тенге</h6></div>
  			<div class="col-md-2"><h6>4-5 дней</h6></div>
  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
		</div>

		<div class='row' style='padding-left: 40px;'>
			<div class="col-md-3"><h6>70 страниц</h6></div>
  			<div class="col-md-2"><h6>49 000 тенге</h6></div>
  			<div class="col-md-2"><h6>4-5 дней</h6></div>
  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
		</div>

		<div class='row' style='padding-left: 40px;'>
			<div class="col-md-3"><h6>90 страниц</h6></div>
  			<div class="col-md-2"><h6>63 000 тенге</h6></div>
  			<div class="col-md-2"><h6>4-5 дней</h6></div>
  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
		</div>


	
</div>