<div class='container' style='width: 750px; padding-top: 10px;'>

			<div class='row'>
				<div class='col-md-6' style='padding-left: 40px;'><a name='заказать дипломную работу'><h6><b>Создание ПО(программное обеспечение)</b></h6></a></div>
			</div>

			<div class='row' style='padding-left: 30px;'>
				<div class='col-md-4'><a name='создать дипломную работу'><h6><b>Создать мобильное приложение iOS</b></h6></a></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>Количество окон</h6></div>
	  			<div class="col-md-2"><h6>Цена</h6></div>
	  			<div class="col-md-2"><h6>Сроки</h6></div>
	  			<div class="col-md-2"><h6>Ускорение</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 3 окон</h6></div>
	  			<div class="col-md-2"><h6>55 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 5 окон</h6></div>
	  			<div class="col-md-2"><h6>59 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 7 окон</h6></div>
	  			<div class="col-md-2"><h6>65 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>









			<div class='row' style='padding-left: 30px;'>
				<div class='col-md-4'><a name='создать дипломную работу'><h6><b>Создать мобильное приложение Android</b></h6></a></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>Количество окон</h6></div>
	  			<div class="col-md-2"><h6>Цена</h6></div>
	  			<div class="col-md-2"><h6>Сроки</h6></div>
	  			<div class="col-md-2"><h6>Ускорение</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 3 окон</h6></div>
	  			<div class="col-md-2"><h6>55 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 5 окон</h6></div>
	  			<div class="col-md-2"><h6>59 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 7 окон</h6></div>
	  			<div class="col-md-2"><h6>65 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>
</div>