<div class='container' style='width: 750px; padding-top: 10px;'>

			<div class='row'>
				<div class='col-md-6' style='padding-left: 40px;'><a name='презентация дипломной работы'><h6><b>Создание презентации в заданном формате</b></h6></a></div>
			</div>

			<div class='row' style='padding-left: 30px;'>
				<div class='col-md-4'><a name='Adobe Illustrator'><h6><b>Создать презентацию на Adobe Illustrator</b></h6></a></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>Количество слайдов</h6></div>
	  			<div class="col-md-2"><h6>Цена</h6></div>
	  			<div class="col-md-2"><h6>Сроки</h6></div>
	  			<div class="col-md-2"><h6>Ускорение</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 10 слайдов</h6></div>
	  			<div class="col-md-2"><h6>55 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 15 слайдов</h6></div>
	  			<div class="col-md-2"><h6>59 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 20 слайдов</h6></div>
	  			<div class="col-md-2"><h6>65 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>


			<div class='row' style='padding-left: 30px;'>
				<div class='col-md-4'><a name="Keynote"><h6><b>Создать презентацию на Keynote</b></h6></a></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>Количество слайдов</h6></div>
	  			<div class="col-md-2"><h6>Цена</h6></div>
	  			<div class="col-md-2"><h6>Сроки</h6></div>
	  			<div class="col-md-2"><h6>Ускорение</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 10 слайдов</h6></div>
	  			<div class="col-md-2"><h6>55 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 15 слайдов</h6></div>
	  			<div class="col-md-2"><h6>59 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>

			<div class='row' style='padding-left: 40px;'>
				<div class="col-md-3"><h6>до 20 слайдов</h6></div>
	  			<div class="col-md-2"><h6>65 000 тенге</h6></div>
	  			<div class="col-md-2"><h6>4-5 дней</h6></div>
	  			<div class="col-md-2"><h6>10 000 тенге</h6></div>
			</div>
</div>